version: "3.8"

services:
  app:
    image: ${DOCKER_USERNAME}/adiwarna-api:latest
    container_name: adiwarna-api
    restart: unless-stopped
    ports:
      - "${APP_PORT:-8006}:80"
    env_file:
      - .env
    volumes:
      - ./storage:/app/storage
      - ./bootstrap/cache:/app/bootstrap/cache
    networks:
      - app-network

networks:
  app-network:
    external: true

