name: Build and Deploy Adiwarna API

on:
  push:
    branches:
      - ref

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}:refactor

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy on VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_1_HOST_IP }}
          username: ${{ secrets.VPS_1_HOST_USERNAME }}
          password: ${{ secrets.VPS_1_HOST_PASSWORD }}
          port: ${{ secrets.VPS_1_HOST_PORT }}
          script: |
            cd /media/${{github.event.repository.name}}-refactor
            docker compose pull
            docker compose down
            docker compose up -d